
/*Admin menu*/
.cat-main-menu{
    display: block;
    font-size: 2rem;
    line-height: 2rem;
    
    text-align: center;
    margin: 20px auto;
    color: #43dcff;
}
.cat-main-menu-title{

    line-height: 2.5rem;
    margin: 0;
    font-size: 2rem;
    color: #0D75AF;
    content: "";
    height: 10px;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 3px;
}
.corp_admin_account_section_id{
    font-size: 2rem;
    color: #f3ffd3;
}
/*Sub Admin*/
#guest-book-head{
    text-align: center;
    margin: 20px auto;
}
/*.cat-sub-menu{*/
    /*text-align: left;*/
/*}*/
/*.cat-sub-menu-title{*/
    /*text-align: left;*/
/*}*/